RouteCalculator/Service References/AddressFinder/AddressFinder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.maplink2.com.br" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservices.maplink2.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.maplink2.com.br">
      <s:element name="findPOI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="city" type="tns:City" />
            <s:element minOccurs="1" maxOccurs="1" name="resultRange" type="tns:ResultRange" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="City">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultRange">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="recordsPerPage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="findPOIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="findPOIResult" type="tns:POIInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="POIInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="poiLocations" type="tns:ArrayOfPOILocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPOILocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="POILocation" type="tns:POILocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="POILocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="district" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="carAccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="dataSource" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="city" type="tns:City" />
          <s:element minOccurs="1" maxOccurs="1" name="point" type="tns:Point" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Point">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="findAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="address" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="ao" type="tns:AddressOptions" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="houseNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="district" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="city" type="tns:City" />
          <s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressOptions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="usePhonetic" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="searchType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="resultRange" type="tns:ResultRange" />
        </s:sequence>
      </s:complexType>
      <s:element name="findAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="findAddressResult" type="tns:AddressInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddressInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="addressLocation" type="tns:ArrayOfAddressLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddressLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddressLocation" type="tns:AddressLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="zipL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zipR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="carAccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="dataSource" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="point" type="tns:Point" />
        </s:sequence>
      </s:complexType>
      <s:element name="findRoad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="road" type="tns:Road" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Road">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="roadNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="city" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:element name="findRoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="findRoadResult" type="tns:RoadInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RoadInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="roadLocation" type="tns:ArrayOfRoadLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRoadLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoadLocation" type="tns:RoadLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoadLocation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="road" type="tns:Road" />
          <s:element minOccurs="1" maxOccurs="1" name="roadDetail" type="tns:RoadDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoadDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="alterName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complement" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="district" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direction" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="findDistrict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="district" type="tns:District" />
            <s:element minOccurs="1" maxOccurs="1" name="rr" type="tns:ResultRange" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="District">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="city" type="tns:City" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="findDistrictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="findDistrictResult" type="tns:DistrictInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DistrictInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="districtLocation" type="tns:ArrayOfDistrictLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDistrictLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DistrictLocation" type="tns:DistrictLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DistrictLocation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="district" type="tns:District" />
          <s:element minOccurs="1" maxOccurs="1" name="point" type="tns:Point" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="point" type="tns:Point" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tolerance" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getAddressResult" type="tns:AddressLocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getXY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="address" type="tns:Address" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getXYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getXYResult" type="tns:Point" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRoadXY">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="road" type="tns:Road" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRoadXYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getRoadXYResult" type="tns:Point" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getXYRadiusWithMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="address" type="tns:Address" />
            <s:element minOccurs="1" maxOccurs="1" name="mo" type="tns:MapOptions" />
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MapOptions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="scaleBar" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="mapSize" type="tns:MapSize" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MapSize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getXYRadiusWithMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getXYRadiusWithMapResult" type="tns:MapInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MapInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="extent" type="tns:Extent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Extent">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="XMin" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="YMin" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="XMax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="YMax" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="findCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cidade" type="tns:City" />
            <s:element minOccurs="1" maxOccurs="1" name="ao" type="tns:AddressOptions" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="findCityResult" type="tns:CityLocationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CityLocationInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pageCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cityLocation" type="tns:ArrayOfCityLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCityLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CityLocation" type="tns:CityLocation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CityLocation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="city" type="tns:City" />
          <s:element minOccurs="1" maxOccurs="1" name="point" type="tns:Point" />
          <s:element minOccurs="1" maxOccurs="1" name="carAccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="zipRangeStart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zipRangeEnd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="capital" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="addressesAvailable" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="findPOISoapIn">
    <wsdl:part name="parameters" element="tns:findPOI" />
  </wsdl:message>
  <wsdl:message name="findPOISoapOut">
    <wsdl:part name="parameters" element="tns:findPOIResponse" />
  </wsdl:message>
  <wsdl:message name="findAddressSoapIn">
    <wsdl:part name="parameters" element="tns:findAddress" />
  </wsdl:message>
  <wsdl:message name="findAddressSoapOut">
    <wsdl:part name="parameters" element="tns:findAddressResponse" />
  </wsdl:message>
  <wsdl:message name="findRoadSoapIn">
    <wsdl:part name="parameters" element="tns:findRoad" />
  </wsdl:message>
  <wsdl:message name="findRoadSoapOut">
    <wsdl:part name="parameters" element="tns:findRoadResponse" />
  </wsdl:message>
  <wsdl:message name="findDistrictSoapIn">
    <wsdl:part name="parameters" element="tns:findDistrict" />
  </wsdl:message>
  <wsdl:message name="findDistrictSoapOut">
    <wsdl:part name="parameters" element="tns:findDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="getAddressSoapIn">
    <wsdl:part name="parameters" element="tns:getAddress" />
  </wsdl:message>
  <wsdl:message name="getAddressSoapOut">
    <wsdl:part name="parameters" element="tns:getAddressResponse" />
  </wsdl:message>
  <wsdl:message name="getXYSoapIn">
    <wsdl:part name="parameters" element="tns:getXY" />
  </wsdl:message>
  <wsdl:message name="getXYSoapOut">
    <wsdl:part name="parameters" element="tns:getXYResponse" />
  </wsdl:message>
  <wsdl:message name="getRoadXYSoapIn">
    <wsdl:part name="parameters" element="tns:getRoadXY" />
  </wsdl:message>
  <wsdl:message name="getRoadXYSoapOut">
    <wsdl:part name="parameters" element="tns:getRoadXYResponse" />
  </wsdl:message>
  <wsdl:message name="getXYRadiusWithMapSoapIn">
    <wsdl:part name="parameters" element="tns:getXYRadiusWithMap" />
  </wsdl:message>
  <wsdl:message name="getXYRadiusWithMapSoapOut">
    <wsdl:part name="parameters" element="tns:getXYRadiusWithMapResponse" />
  </wsdl:message>
  <wsdl:message name="findCitySoapIn">
    <wsdl:part name="parameters" element="tns:findCity" />
  </wsdl:message>
  <wsdl:message name="findCitySoapOut">
    <wsdl:part name="parameters" element="tns:findCityResponse" />
  </wsdl:message>
  <wsdl:portType name="AddressFinderSoap">
    <wsdl:operation name="findPOI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna uma lista contendo POI candidatos.</wsdl:documentation>
      <wsdl:input message="tns:findPOISoapIn" />
      <wsdl:output message="tns:findPOISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna uma lista contendo endereços candidatos.</wsdl:documentation>
      <wsdl:input message="tns:findAddressSoapIn" />
      <wsdl:output message="tns:findAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findRoad">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna uma lista contendo rodovias candidatas.</wsdl:documentation>
      <wsdl:input message="tns:findRoadSoapIn" />
      <wsdl:output message="tns:findRoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findDistrict">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna uma lista contendo bairros/distritos candidatos.</wsdl:documentation>
      <wsdl:input message="tns:findDistrictSoapIn" />
      <wsdl:output message="tns:findDistrictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna o endereço do ponto informado.</wsdl:documentation>
      <wsdl:input message="tns:getAddressSoapIn" />
      <wsdl:output message="tns:getAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getXY">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna a coordenada do endereço informado.</wsdl:documentation>
      <wsdl:input message="tns:getXYSoapIn" />
      <wsdl:output message="tns:getXYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRoadXY">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna a coordenada da rodovia informada.</wsdl:documentation>
      <wsdl:input message="tns:getRoadXYSoapIn" />
      <wsdl:output message="tns:getRoadXYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getXYRadiusWithMap">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna a a coordenada do ponto informado e a URL do mapa.</wsdl:documentation>
      <wsdl:input message="tns:getXYRadiusWithMapSoapIn" />
      <wsdl:output message="tns:getXYRadiusWithMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna uma lista contendo dados da cidade informada.</wsdl:documentation>
      <wsdl:input message="tns:findCitySoapIn" />
      <wsdl:output message="tns:findCitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddressFinderSoap" type="tns:AddressFinderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findPOI">
      <soap:operation soapAction="http://webservices.maplink2.com.br/findPOI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAddress">
      <soap:operation soapAction="http://webservices.maplink2.com.br/findAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRoad">
      <soap:operation soapAction="http://webservices.maplink2.com.br/findRoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDistrict">
      <soap:operation soapAction="http://webservices.maplink2.com.br/findDistrict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <soap:operation soapAction="http://webservices.maplink2.com.br/getAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXY">
      <soap:operation soapAction="http://webservices.maplink2.com.br/getXY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoadXY">
      <soap:operation soapAction="http://webservices.maplink2.com.br/getRoadXY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXYRadiusWithMap">
      <soap:operation soapAction="http://webservices.maplink2.com.br/getXYRadiusWithMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findCity">
      <soap:operation soapAction="http://webservices.maplink2.com.br/findCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddressFinderSoap12" type="tns:AddressFinderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findPOI">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/findPOI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAddress">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/findAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRoad">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/findRoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDistrict">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/findDistrict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAddress">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/getAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXY">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/getXY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoadXY">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/getRoadXY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXYRadiusWithMap">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/getXYRadiusWithMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findCity">
      <soap12:operation soapAction="http://webservices.maplink2.com.br/findCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressFinder">
    <wsdl:port name="AddressFinderSoap" binding="tns:AddressFinderSoap">
      <soap:address location="http://services.maplink.com.br/webservices/v3.1/AddressFinder/AddressFinder.asmx" />
    </wsdl:port>
    <wsdl:port name="AddressFinderSoap12" binding="tns:AddressFinderSoap12">
      <soap12:address location="http://services.maplink.com.br/webservices/v3.1/AddressFinder/AddressFinder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>